#board{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 300px;
    justify-content: center;
}

.square{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30%;
    text-align: center;
    font-size: 80px;
}

#controls-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

#controller{
    justify-self: center;
}

#message{
    font-size: 2rem;
    color: black;
    justify-self: center;
}